.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.inputs {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border: 1px dashed black;
  border-radius: 5px;
}
.inputs:focus {
  outline: none;
  border-color: #0ced08;
  box-shadow: 0 0 5px rgba(50, 228, 15, 0.5);
}