.container {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}
.inputs{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
}