.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}
.container h2{
    font-size: 24px;
}
.container p{
    font-size: 20px;
    color: #383737;
    margin-top: 20px;
}
textarea{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
}