.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.inputs input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.inputs select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.inputs label {
    font-size: 18px;
}
.inputs input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}