.qrArea{
    display: flex;
    flex-direction: column;
    border: 2px dashed black;
    border-radius: 10px;
    padding: 20px;
}
button{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
canvas{
    margin-top: 15px;
    align-self: center;
    border: 1px dashed black;
}
.controls{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}